<?xml version="1.0"?>
<!--
 (c) 2005-2015 Copyright, Real-Time Innovations, Inc.  All rights reserved.
 RTI grants Licensee a license to use, modify, compile, and create derivative
 works of the Software.  Licensee has the right to distribute object form only
 for use with RTI products.  The Software is provided "as is", with no warranty
 of any type, including any warranty for fitness for any purpose. RTI is under
 no obligation to maintain or support the Software.  RTI shall not be liable for
 any incidental or consequential damages arising out of the use or inability to
 use the software.
 -->

<dds xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://community.rti.com/schema/5.1.0/rti_dds_profiles.xsd" version="5.1.0">

    <!-- Qos Library -->
	<qos_library name="QosLibrary">
		<qos_profile name="DefaultProfile" 
					 base_name="BuiltinQosLibExp::Generic.StrictReliable"
					 is_default_qos="true">
			<participant_qos>

				<discovery>
				<!-- disable the reception multicast for discovery  -->
				<multicast_receive_addresses/>
					<!-- Configure the destinatons of disovery announcements. Do not list any multicast addresses -->
					<!--This is the list of transports destinations where the participant will announce its presence -->
					<initial_peers>
						<!-- use shared memory for participants the same computer -->
						<element>builtin.shmem://</element>
						<!-- also use IP loopback for  participants the same computer -->
						<element>builtin.udpv4://127.0.0.1</element>
						<!-- list here the IP addresses of all computers where thetre may be participants -->
						<!-- THIS IS ONLY AN EXAMPLE. YOU MUST ADJUST TO MATCH YOUR CONFIGURATION -->
						<element>builtin.udpv4://192.168.0.100</element>
						<element>builtin.udpv4://192.168.3.101</element>            

					</initial_peers>
				</discovery>

				<!-- Turn on monitoring -->
				<!-- Begin Monitoring
				<property>
					<value>
						<element>
							<name>rti.monitor.library</name>
							<value>rtimonitoring</value>
						</element>
						<element>
							<name>rti.monitor.create_function_ptr</name>
							<value>$(NDDS_MONITOR)</value>
						</element>
					</value>
				</property>
				 End Monitoring -->
			</participant_qos>
			
			
		</qos_profile>
	</qos_library>
	
    <!-- types -->
    <types>
	   	<struct name="FireAlarm" extensibility="extensible">
			<member name="alarm_id" type="string"/>
			<member name="state" type="boolean"/>
		</struct>
    </types>


    <!-- Domain Library -->
    <domain_library name="MyDomainLibrary">
        <domain name="MyDomain" domain_id="0">
            <register_type name="FireAlarm"  type_ref="FireAlarm" kind="dynamicData" />
            <topic name="FireAlarms"    register_type_ref="FireAlarm"/>
        </domain>
    </domain_library>


    <!-- Participant library -->
    <participant_library name="MyParticipantLibrary">
        <domain_participant name="Zero" domain_ref="MyDomainLibrary::MyDomain">

            <publisher name="MyPublisher">
                <data_writer name="FireAlarmWriter" topic_ref="FireAlarms" />
            </publisher>

            <subscriber name="MySubscriber">
                <data_reader name="FireAlarmReader" topic_ref="FireAlarms" />
            </subscriber>

        </domain_participant>
    </participant_library>
</dds>